JavaSDK/.classpath
JavaSDK/.project
JavaSDK/.settings/org.eclipse.core.resources.prefs
JavaSDK/.settings/org.eclipse.jdt.apt.core.prefs
JavaSDK/.settings/org.eclipse.jdt.core.prefs
JavaSDK/.settings/org.eclipse.m2e.core.prefs
